<div class="register" ng-controller="registerCtrl as reg">
    <h1>Register</h1>
    <p class="bg-info">First name</p> <input type="text" ng-model="reg.firstName">
    <p class="bg-info">Last name</p> <input type="text" ng-model="reg.lastName">
    <p class="bg-info">User name</p> <input type="text" ng-model="reg.userName">
    <p class="bg-info">Password</p> <input type="password" ng-model="reg.password">
    <p> 
    <button type="button" class="btn btn-primary" ng-click="reg.registerUser(reg.firstName, reg.lastName, reg.userName, reg.password)">Register</button>
    <button type="button" class="btn btn-link" ng-click="reg.cancelRegister()">Cancel</button> </p>
</div>
